$src1: "./assets/my-photo.png";

.cls-1,
.cls-4,
.cls-5 {
    fill: none;
}
.cls-2 {
    fill: #fff;
}
.cls-3 {
    fill: #fff200;
}
.cls-4,
.cls-5 {
    stroke-miterlimit: 10;
}
.cls-4 {
    stroke-width: 145px;
    stroke: url(#circle_3);
}
.cls-5 {
    stroke-width: 134px;
    stroke: url(#circle_3-3);
}
.dot {
  position: absolute;
  width: 30rem;
  height: 30rem;
  top: 3rem;
  right: 5rem;
  z-index: -2;
  //phone
  @include respond(phone) {
    top: 2rem;
    left: 0;
    width: 15rem;
    height: 15rem;
  }
  //table portrait 
  @include respond(tabletportrait) {
    top: 4rem;
    right: 0;
    width: 20rem;
    height: 20rem;
  }
  @include respond(tabletlandscape) {
    width: 30rem;
    height: 30rem;
    top: 3rem;
    right: 5rem;
  }
}

.container {
  position: relative;
  display: block;
  margin-top: 2rem;
  margin-bottom: 5rem;
  width: 100vw;
  @include respond(phone) {
    height: 30rem;
  }
  @include respond(tabletportrait) {
    height: 35rem;
  }
  @include respond(tabletlandscape) {
    height: 45rem;
  }
}

.self-img {
  position: absolute;
  width: 14rem;
  height: 14rem;
  top: 9rem;
  right: 8rem;
  background: no-repeat center/cover url($src1);
  border: 0px solid black;
  border-radius: 70%;
  @include respond(phone) {
    top: 4rem;
    right: 3rem;
    width: 8rem;
    height: 8rem;
  }
  @include respond(tabletportrait) {
    top: 6rem;
    right: 5.5rem;
    width: 9rem;
    height: 9rem;
  }
  @include respond(tabletlandscape) {
    width: 14rem;
    height: 14rem;
    top: 9rem;
    right: 8rem;
  }
}

.txt-container {
  font-family: 'gabriola', serif;
  position: absolute;
  white-space: pre-line;
  top: 20rem;
  right: 21rem;
  line-height: 1.6rem;
  width: 50rem;
  height: 20rem;
  font-size: 2rem;
  font-weight: 500;
  background: radial-gradient(circle at top right, transparent 7rem, yellow 4rem);
  & p {
    text-align: start;
    padding-left: 2rem;
    hyphens: auto;
  }
  @include respond(phone) {
    $width: calc(100% - 6rem);
    top: 7rem;
    left: 6rem;
    padding-top: 2rem;
    width: $width;
    height: auto;
    font-size: 1.5rem;
    background: radial-gradient(circle at top left, transparent 8rem, yellow 8rem);
    & p {
      width: fit-content;
      text-align: start;
      hyphens: auto;
    }
  }
  @include respond(tabletportrait) {
    $width: calc(100% - 10rem - 2rem);
    top: 15rem;
    right: 10rem;
    padding-top: 2rem;
    width: $width;
    height: auto;
    font-size: 1.5rem;
    & p {
      width: fit-content;
      text-align: start;
      hyphens: auto;
    }
  }
  @include respond(tabletlandscape) {
    $width: calc(100% - 20rem - 5rem);
    top: 19rem;
    right: 20rem;
    width: $width;
    height: 20rem;
    font-size: 2rem;
    font-weight: 500;
    background: radial-gradient(circle at top right, transparent 8rem, yellow 8rem);
    & p {
      text-align: start;
      padding-left: 6rem;
      hyphens: auto;
    }
  }
  &:after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 5rem;
    left: 2.1rem;
    width: 50rem;
    height: 20rem;
    opacity: 0.75;
    background: radial-gradient(circle at top right, transparent 7rem, black 4rem);
    @include respond(phone) {
      display: none;
    }
    @include respond(tabletportrait) {
      display: none;
    }
    @include respond(tabletlandscape) {
      display: block;
      top: 7rem;
      right: 19rem;
      width: 100%;
      height: 20rem;
    }
  }
}

.svg {
  enable-background:new 0 0 235.14 228.29;
}