$width-frame: calc(100vw - 39.6rem);
$height-frame: calc(0.64 * (100vw - 39.6rem));
$width-pic: calc(100vw - 39.6rem - 0.5rem);
$height-pic: calc(0.64 * (100vw - 39.6rem - 0.5rem));
$width-projectback: calc(100vw - 10rem);
$height-projectback: 50vw;
.cls-1-1 {
    fill: #ddd6ce;
    stroke: #ddd6ce;
    stroke-miterlimit: 10;
    stroke-width: 3.02px;
}
.cls-2-1 {
    fill: #634fa1;
    stroke: #32bad9;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 10.17px;
}
.cls-1-2 {
    fill: #ddd6ce;
    stroke: #ddd6ce;
    stroke-miterlimit: 10;
    stroke-width: 3.02px;
    }
.cls-2-2 {
    fill: #634fa1;
    stroke: #32bad9;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 10.17px;
}
.btn-left {
    position: absolute;
    top:50%;
    left: 7rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    z-index: 99;
    &:hover,
    &:active {
        border: 2px solid black;
    }
    &:active {
        transform: scale(0.8);
    }
    @include respond(phone) {
        left: 1rem;
        width: 3rem;
        height: 3rem;
    }
    @include respond(tabletportrait) {
        left: 2rem;
        width: 4rem;
        height: 4rem;
    }
    @include respond(tabletlandscape) {
        left: 3rem;
        width: 5rem;
        height: 5rem;
    }
    @include respond(laptop) {
        left: 4rem;
        width: 5rem;
        height: 5rem;
    }
}
.btn-right {
    position: absolute;
    top:50%;
    right: 7rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    z-index: 99;
    &:hover,
    &:active {
        border: 2px solid black;
    }
    &:active {
        transform: scale(0.8);
    }
    @include respond(phone) {
        right: 1rem;
        width: 3rem;
        height: 3rem;
    }
    @include respond(tabletportrait) {
        right: 2rem;
        width: 4rem;
        height: 4rem;
    }
    @include respond(tabletlandscape) {
        right: 3rem;
        width: 5rem;
        height: 5rem;
    }
    @include respond(laptop) {
        right: 4rem;
        width: 5rem;
        height: 5rem;
    }
}
.project {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: fit-content;
}

.project-back {
    position: relative;
    background: orange;
    @include respond(phone) {
        width: calc(100%);
        height: 15rem;
        padding-top: 5rem;
        padding-left: 0rem;
        margin-left: 0rem;
    }
    @include respond(tabletportrait) {
        $width: calc(100% - 4rem);
        width: $width;
        height: 30rem;
        padding-left: 0rem;
        margin-top: 2rem;
        margin-left: 2rem;
    }
    @include respond(tabletlandscape) {
        $width: calc(100% - 10rem);
        width: $width;
        height: 35rem;
        padding-left: 0rem;
        margin-top: 2rem;
        margin-left: 5rem;
    }
    @include respond(laptop) {
        $width: calc(100% - 10rem);
        width: $width;
        height: 45rem;
        padding-top: 2rem;
        margin-top: 2rem;
        margin-left: 5rem;
    }
}

.project-frame {
    position: absolute;
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%, 0 18.75%);
    @include respond(phone) {
        $width: 100%;
        $height: 100%;
        width: $width;
        height: $height;
        clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%, 0 18.75%);
    }
    @include respond(tabletportrait) {
        $width: 100%;
        $height: 100%;
        width: $width;
        height: $height;
        clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%, 0 18.75%);
    }
    @include respond(tabletlandscape) {
        $width: 100%;
        $height: 100%;
        width: $width;
        height: $height;
        clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%, 0 18.75%);
    }
    @include respond(laptop) {
        $width: 100%;
        $height: 100%;
        width: $width;
        height: $height;
        clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%, 0 18.75%);
    }
}

.frame-container {
    position: absolute;
    border: .5rem solid black;
    top: 10rem;
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%, 0 18.75%);
    @include respond(phone) {
        top: 6rem;
        $width: calc(100% - 10rem - 1rem);
        $height: calc(100% - 6rem - 3rem);
        left: 5rem;
        width: $width;
        height: $height;
        clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%, 0 18.75%);
    }
    @include respond(tabletportrait) {
        top: 6rem;
        $width: calc(100% - 14rem - 1rem);
        $height: calc(100% - 6rem - 6rem);
        left: 7rem;
        width: $width;
        height: $height;
        clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%, 0 18.75%);
    }
    @include respond(tabletlandscape) {
        top: 7rem;
        $width: calc(100% - 18rem - 1rem);
        $height: calc(100% - 6rem - 6rem);
        left: 9rem;
        width: $width;
        height: $height;
        clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%, 0 18.75%);
    }
    @include respond(laptop) {
        $width: calc(100% - 20rem - 1rem);
        $height: calc(100% - 6rem - 6rem);
        left: 10rem;
        width: $width;
        height: $height;
        clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%, 0 18.75%);
    }
}

.P1 {
    background: no-repeat center/cover url('./assets/P1.png') !important;
}

.P2 {
    background: no-repeat center/cover url('./assets/P2.png') !important;
}

.P3 {
    background: no-repeat center/cover url('./assets/P3.png') !important;
}

.anm-cur-left {
    animation: anm-cur-left .2s ease-in-out forwards;
}

.anm-cur-right {
    animation: anm-cur-right .2s ease-in-out forwards;
}

.anm-nxt-left {
    animation: anm-nxt-left .2s ease-in-out forwards;
}

.anm-nxt-right {
    animation: anm-nxt-right .2s ease-in-out forwards;
}

@keyframes anm-cur-left {
    from {
        transform:  translateX(0);
    } to {
        transform:  translateX(-100%);
    }
}

@keyframes anm-cur-right {
    from {
        transform: translateX(0);
    } to {
        transform: translateX(100%);
    }
}

@keyframes anm-nxt-left {
    from {
        transform: translateX(100%);
    } to {
        transform: translateX(0);
    }
}

@keyframes anm-nxt-right {
    from {
        transform: translateX(-100%);
    } to {
        transform: translateX(0);
    }
}