$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$gray: #6c757d;
$gray-dark: #343a40;
$primary: #007bff;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;

.flexDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  position: fixed;
  margin-top: .3rem;
  margin-left: .5rem;
  margin-right: .5rem;
  width: calc(100vw - 1.65rem);
  box-sizing: border-box;
  background: yellow;
  top: 0;
  left: 0;
  padding: 1rem;  
  border: 2px solid $dark;
  @extend .flexDisplay;
  flex-direction: row;
  justify-content: space-between !important;
  z-index: 100;
}
.navitems {
  $width: calc(100% - 2rem);
  position: relative;
  width: $width;
  margin-left: 2rem;
  z-index: 100;
  @include respond(phone) {
    display: none;
  }
  @include respond(tabletportrait) {
    $width: calc(100% - 4rem);
    margin-left: 3rem;
  }
  @include respond(tabletlandscape) {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    $width: calc(100% - 23rem);
    margin-left: 17rem;
    width: $width;
  }
}
.navitem {
  position: relative;
  & a {
    display: block;
    height: 100%;
    width: 100%;
    color: black;
    text-decoration: none;
    text-transform: none;
  }
  float: left;
  width: calc(25% - 5rem);
  font-size: 1.5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 5rem;
  cursor: pointer;
  z-index: 100;
  @include respond(phone) {
    display: none;
  }
  @include respond(tabletportrait) {
    display: block;
    font-size: 1.3rem;
    width: calc(25% - 2rem);
    margin-left: 2rem;
  }
  @include respond(tabletlandscape) {
    display: block;
    font-size: 1.5rem;
    width: calc(25% - 2rem);
    margin-right: 2rem;
  }
  &:hover {
    &::after {
      opacity: 1;
    }
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 130%;
    height: 130%;
    background: #27AAE1;
    box-shadow: 1rem 1rem 0 0 $dark;
    opacity: 0;
    transition: all .3s ease-in;
    @include respond(phone) {
      display: none;
    }
    @include respond(tabletportrait) {
      display: block;
      width: 100%;
      height: 100%;
    }
    @include respond(tabletlandscape) {
      display: block;
      width: 100%;
      height: 130%;
    }
  }
}

.flexDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_buger {
  position: relative;
  width: 3.5rem;
  height: 3rem;
  background: white;
  border: 2px solid #231738;
  border-radius: 15px;
  z-index: 100;
  &:hover,
  &:active {
    cursor: pointer;
  }
  &:active,
  &:focus,
  &:visited {
    & span {
      &:nth-child(1) {
        transform: translate(-60%,-50%) rotateZ(-36.5deg);
        width: 2.1rem;
      }
      &:nth-child(2) {
        opacity: 0;
        transform: translate(-50%,-50%);   
      }
      &:nth-child(3) {
        transform: translate(-60%,-50%) rotateZ(36.5deg);
        width: 2.1rem;
      }
    }
  }
  & span {
    &:nth-child(1) {
      position: absolute;
      top: 30%;
      left: 50%;
      transform-origin: top right;
      transition: all .3s ease-out;
      transform: translate(-50%,-50%);
      width: 2rem;
      height: .2rem;
      background: $dark;  
    }
    &:nth-child(2) {
      position: absolute;
      top: 50%;
      left: 50%;
      transition: all .3s ease-out;
      transform: translate(-50%,-50%);
      width: 2rem;
      height: .2rem;
      background: $dark;  
    }
    &:nth-child(3) {
      position: absolute;
      top: 70%;
      left: 50%;
      transform-origin: top right;
      transition: all .3s ease-out;
      transform: translate(-50%,-50%);
      width: 2rem;
      height: .2rem;
      background: $dark;  
    }
  }
}

.side_bar {
  position: fixed;
  top: 5.85rem;
  left: 0rem;
  height: 100vh;
  transition: all .5s ease-in-out;
  transform: translateX(-100%);
  padding: 2rem 1rem 0rem 1rem;
  background: $white;
  z-index: 100;
  & div {
    border-width: 0rem 0rem .1rem 0rem;
    border-style: solid;
    border-color: $gray;
    width: 5rem;
    font-size: 1rem;
    height: 2rem;
    cursor: pointer;
    @extend .flexDisplay;
    &:last-child {
      border-bottom-width: 0rem;
    }
  }
}

.blur {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: $gray-dark;
  z-index: 50;
  display: none;
  opacity: 0;
  transition: all .3s ease-in-out;
  &_anm {
    display: block;
    opacity: .5 !important;
  }
}

.sec {
  position: relative;
  z-index: 0;
  padding: 0rem 0rem 0rem 1rem;
  min-height: 10rem;
  &_1 {
    margin-top: 6rem;
  }
  &_2 {
  }
  &_3 {
  }
}

.bar1 {
  transform: translate(-60%,-50%) rotateZ(-36.5deg) !important;
        width: 2.1rem !important;
}
.bar2 {
  opacity: 0 !important;
        transform: translate(-50%,-50%);   
}
.bar3 {
  transform: translate(-56%,-31%) rotateZ(36.5deg) !important;
        width: 2.1rem !important;
}

.anm_sidemenu {
  &_draw{
    transform: translateX(0) !important;
  }
  &_close{
    transform: translateX(-100%) !important;
  }
}