.skills-back {
    position: relative;
    margin-top: 2rem;
    $width: calc(100vw - 10rem);
    $height: calc(50vw - 5rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5rem;
    width: $width;
    height: $height;
    background: 
    linear-gradient(31.1deg, orange 49%, yellow 30%, yellow);
    @include respond(phone) {
        width: calc(100%);
        height: calc(20rem);
        padding-top: 5rem;
        padding-left: 0rem;
        margin-left: 0rem;
        clip-path: polygon(100% 0, 50% 0, 0 38%, 0 100%, 100% 100%);
    }
    @include respond(tabletportrait) {
        $width: calc(100% - 4rem);
        width: $width;
        height: 20rem;
        padding-left: 0rem;
        margin-top: 2rem;
        margin-left: 2rem;
        clip-path: polygon(100% 0, 31% 0, 0 38%, 0 100%, 100% 100%);
    }
    @include respond(tabletlandscape) {
        $width: calc(100% - 10rem);
        width: $width;
        height: 30rem;
        padding-left: 0rem;
        margin-top: 2rem;
        margin-left: 5rem;
        clip-path: polygon(100% 0, 50% 0, 0 45%, 0 100%, 100% 100%);
    }
    @include respond(laptop) {
        $width: calc(100% - 10rem);
        $height: calc(50vw - 5rem);
        width: $width;
        height: $height;
        padding-top: 2rem;
        margin-top: 2rem;
        margin-left: 5rem;
        clip-path: polygon(100% 0, 50% 0, 0 60%, 0 100%, 100% 100%);
    }
}
.skills {
    position: relative;
    width: 100%;
    height: fit-content;
}
.skill-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    width: 100%;
}
.skill {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transform-origin: left;
    @include respond(phone) {
        $width: calc(100% - 2rem);
        margin-left: 1rem;
        margin-right: 1rem;
        width: $width;
    }
    @include respond(tabletportrait) {
        $width: calc(70% - 1rem);
        margin-left: 30%;
        margin-right: 1rem;
        width: $width;
    }
    @include respond(tabletportrait) {
        $width: calc(70% - 3rem);
        margin-left: 30%;
        margin-right: 3rem;
        width: $width;
    }
}
.skill-label {
    width: 100%;
    font-size: 2rem;
    font-family: 'gabriola';
    @include respond(phone) {
        font-size: 1.3rem;
    }
    @include respond(laptop) {
        font-size: 2rem;
    }
}
.blue {
    display: block;
    width: 5rem;
    height: 1rem;
    background: blue;
    margin-right: 1rem;
    border: 2px solid black;
    @include respond(phone) {
        $width: calc(20% - 0.2rem);
        margin-right: 0.2rem;
        width: $width;
    }
    @include respond(tabletportrait) {
        $width: calc(20% - .2rem);
        margin-right: .2rem;
        width: $width;
    }
    @include respond(tabletlandscape) {
        $width: calc(20% - .2rem);
        margin-right: .2rem;
        width: $width;
    }
    @include respond(laptop) {
        $width: calc(20% - 2rem);
        margin-right: 2rem;
        width: $width;
    }
}
.white {
    display: block;
    width: 5rem;
    height: 1rem;
    background: white;
    margin-right: 1rem;
    border: 2px solid black;
    @include respond(phone) {
        $width: calc(20% - 0.2rem);
        margin-right: 0.2rem;
        width: $width;
    }
    @include respond(tabletportrait) {
        $width: calc(20% - .2rem);
        margin-right: .2rem;
        width: $width;
    }
    @include respond(tabletlandscape) {
        $width: calc(20% - .2rem);
        margin-right: .2rem;
        width: $width;
    }
    @include respond(laptop) {
        $width: calc(20% - 2rem);
        margin-right: 2rem;
        width: $width;
    }
}